<html>

<head>
    <style>
        .header {
            padding: 8px;
            background-color: rgb(128, 123, 123);
            text-align: center;
        }

        a {
            color: rgb(255, 255, 255);
            padding: 10px;
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="header">
        <a href="/home">Home</a>
        <a href="/add-book">Add Book</a>
    </div>

</body>

</html>