<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Book</title>
</head>
<body>
    <form method="post" action="/add-book">
        <label for="book_name">Book Name</label>
        <input type="text" name="book_name" placeholder="Enter Book's Name">
        <label for="year_publish">Year of Publish</label>
        <input type="text" name="year_publish" placeholder="Year of Publish">
        <label for="author_name">Author Name</label>
        <input type="text" name="author_name" placeholder="Author's Name">
        <input type="submit" value="Submit">
    </form>




</body>

</html>