<!DOCTYPE HTML >
    <html>
        <head>
            <title>Book Finder</title>
            <style>
                body {
                    text-align: center;
                }
            
                h1 {
                    font-size: 70px;
                }
            
                #btn {
                    color: white;
                    background-color: rgb(10, 77, 21);
                }
            
                .heading-list {
                    font-size: 30px;
                }
            
                .flex-container {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
            
                }
            
                .flex-container>div {
                    background-color: #f1f1f1;
                    width: 140px;
                    margin: 10px;
                    text-align: center;
                    line-height: 25px;
                    padding: 3px;
                    font-size: 15px;
                    align-content: center;
                }
            </style>
        </head>
        <body>
         <%- include('partials/header') %>
         <br>
                <h1>Book Finder</h1>
<h2>Search Book</h2>
                <form action="/searchBooks" method="post">
                    <input type="text" id="text" name="bookname" placeholder="Enter Book's Name" required/>
                    <input type="submit" id="btn" name="btn" />
                </form>

                <p class="heading-list">Your searched Book is</p>
                <div class="flex-container">
                    <div>
                        <p><strong>Book Name:</strong><%= name; %></p>
                        <p><strong>Year of Publish:</strong><%= year; %></p>
                        <p><strong>Author's Name:</strong><%= author; %> </p>
                    </div>
                </div>

</body>

</html>