<!DOCTYPE HTML>
<html>

<head>
    <title>Book Finder</title>
</head>

<body>
    <h1>Book Finder</h1>

    <form action="/searchBooks" method="post">
        <input type="text" id="text" name="bookname" />
        <input type="submit" id="btn" name="btn" />
    </form>

    <p class="book-list">Book List:</p>
    <% for( i = 0; i < books.length; i++) { %>
   <ul>
            <li><strong>Book Name:</strong><%= (books[i]).name; %></li>
            <li><strong>Year of Publish:</strong><%= (books[i]).year; %></li>
            <li><strong>Author's Name:</strong><%= (books[i]).author; %></li>
    </ul>
    
    <% } %>
   
</body>

</html>